{% extends "businesslisting/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

 <div class="container">
  <div class="row">
        <div class="profile-header-container">   
        <div class="profile-header-img">
                <img class="img-circle" src="{{ user.profile.image.url }}" >
                <!-- badge -->
                
            </div>
              <div class="rank-label-container">
                    <span class="label label-default rank-label" style="color: red">{{user.username}}</span>
                </div>
        </div> 
  </div>
</div>
<div>
  <form method="POST"  enctype="multipart/form-data">
       {% csrf_token %}
      <fieldset class="from-group">
        <legend class="border-bottom mb-4">
             Join Today
        </legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>

    
       <button class="btn btn-outline-success" type="submit">   Update</button>
   </form>
</div>
  
{% endblock content %}





 